* {
    margin: 0;
}


/* Navbar design start */

.logo,
.menubar {
    margin: 10px;
}

.menu {
    background-color: #00539CFF;
    height: 60px;
}

.menubar {
    float: right;
    margin-right: 80px;
}

.menubar li {
    display: inline-block;
    background-color: rgb(250, 132, 73);
    width: 80px;
    text-align: center;
    padding: 5px;
}

.menubar li:hover {
    background-color: blue;
}

.menubar li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.logo {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(250, 132, 73);
    float: left;
    margin-left: 100px;
}


/* Navbar design end */

img {
    width: 100%;
    height: 300px;
}


/* Blog design start */

.blog {
    display: flex;
}

.blog1,
.blog2,
.blog3 {
    border: 0px solid;
    margin: 15px;
    padding: 15px;
}

p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
    color: white;
    background-color: rgb(1, 101, 252);
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(250, 132, 73);
}


/* Blog design end */


/* Footer design start */

footer {
    background-color: #00203FFF;
    height: 260px;
}

.footerdiv {
    display: inline-flex;
}

.contact,
.terms,
.policy {
    margin: 0 20px 20px 20px;
    margin-top: 30px;
    color: white;
}

.contact h3 {
    font-size: 25px;
    margin-left: 120px;
}

.contactForm {
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
}

.contactForm input {
    width: 200px;
    height: 20px;
    margin-top: 10px;
    outline: 0;
    border-radius: 20px;
}

.terms h3 {
    font-size: 25px;
    margin-left: 290px;
}

.terms p {
    text-align: center;
    margin-top: 10px;
    margin-left: 180px;
}

.policy h3 {
    font-size: 25px;
    margin-left: 240px;
}

.policy p {
    text-align: center;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 100px;
}

footer button {
    width: 100px;
}

#copywrite {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}